<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div class="form_group">
    <label>First Name</label>
    <div><%= f.text_field :first_name %></div>
  </div>

  <div class="form_group">
    <label>Last Name</label>
    <div><%= f.text_field :last_name %></div>
  </div>

  <div class="form_group">
    <label>Email</label>
    <div><%= f.text_field :email %></div>
  </div>

  <div class="form_group">
    <label>Password</label>
    <div><%= f.password_field :password %></div>
  </div>

  <div class="form_group">
    <label>Confirm Password</label>
    <div><%= f.password_field :password_confirmation %></div>
  </div>

  <div class="mt-5">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>

<% end %>